html,
body {
  height: 100%;
  font-family: "Prompt", sans-serif;
}

body {
  --main-bg-color: #082846;
  --main-color: #d9eff3;

  margin: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  transition: 150ms ease background-color, 150ms ease color;
}

body.inverted {
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

main {
  max-width: 640px;
  margin: auto;
  padding: 64px 32px;
  box-sizing: border-box;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  transition: 150ms ease background-color, 150ms ease color;
}

main.inverted {
  color: var(--main-bg-color);
  background-color: whitesmoke;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: whitesmoke;
  transition: 150ms ease color;
}

main.inverted h1 {
  color: var(--main-bg-color);
}

h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: whitesmoke;
  transition: 150ms ease color;
}

main.inverted h2 {
  color: var(--main-bg-color);
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
}

a {
  color: inherit;
  font-weight: bolder;
  padding: 0 4px;
}

a:hover {
  color: inherit;
}

.logo {
  display: block;
  max-width: 240px;
  margin: 92px auto;
  padding: 0 24px;
  cursor: pointer;
}

#logo-light {
  display: none;
}

.skill {
  filter: brightness(75%);
}

.oss {
  color: cornflowerblue;
}

.oss:hover {
  background-color: cornflowerblue;
  color: white;
}

.project {
  color: palevioletred;
}

.project:hover {
  background-color: palevioletred;
  color: white;
}

.contact {
  color: goldenrod;
}

.contact:hover {
  background-color: goldenrod;
  color: white;
}

@media (min-width: 360px) {
  .logo {
    height: 220px;
  }
}

@media (min-width: 480px) {
  main {
    padding: 64px 64px 92px 64px;
  }
}

@media (min-width: 640px) {
  main {
    padding: 64px 92px 92px 92px;
  }

  .logo {
    height: 320px;
    max-width: 320px;
    margin: 128px auto;
  }
}
